#eu-ingredients-title
  text-decoration: underline
  margin-bottom: $small-spacing
  cursor: pointer

  &:hover
    text-decoration: none

#eu-ingredients-list
  @extend .product-detail
  display: none

.eu-ingredients-list-shown

  #eu-ingredients-list
    display: block
