.site-header
  border: 0!important
  margin: 0!important
  > div
    +container
    height: em(75px)

.site-branding
  float: left
  @include breakpoint($medium-screen)
    position: static
    +span(9 of 12)
    a
      display: block
      margin-top: em(19px)

.site-header-cart
  float: left
  width: 50px
  @include breakpoint($medium-screen)
    +span(3 of 12 last)
    position: relative
    line-height: em(75px)

  &:hover
    .widget_shopping_cart
      display: block

  > li
    text-align: right

  .widget_shopping_cart
    width: 100%
    background-color: #FFFFFF
    display: none
    position: absolute