.pre-header
  background-color: lighten($light-gray, 22.5%)

  > div
    +container
    padding: $small-spacing 1em
    font-size: $small-font-size

    .menu-top-menu-container
      float: right

    .shipping
      float: right
