.single-product

  .summary
    +span(full)

    +breakpoint($medium-screen)
      +span(7)

    +breakpoint($large-screen)
      +span(5)

  .images
    +span(full)

    +breakpoint($medium-screen)
      +span(5 last)

    +breakpoint($large-screen)
      +span(7 last)

  .related.products
    +span(full)

  .cart
    +span(full)

    .quantity
      float: left

      input
        width: 100px

    input, button
      height: 45px

    button
      float: left
      background: $turqouise
      border-color: $turqouise
      color: #fff

      &:hover,
      &:focus
        background: none
        color: $turqouise

  .product-detail
    border-bottom: 1px solid $base-border-color
    margin-bottom: $small-spacing

    &:last-child
      border-bottom: none
      margin-bottom: 0

  #reviews
    +span(full)

.brand-info-container
  +span(full)
  border-top: $base-border
  padding-top: $base-spacing
  margin-top: $small-spacing
  margin-bottom: $base-spacing

  .brand-info
    +span(full)
    text-align: center

    +breakpoint($medium-screen)
      +span(8)
      +push(2)

    +breakpoint($large-screen)
      +span(6)
      +push(3)

.ingredient-info-container
  +span(full)
  display: table
  margin-bottom: $base-spacing

  .ingredient-info
    display: table-cell
    width: 50%
    background-color: #000
    color: #fff
    text-align: center
    padding: $base-spacing*6 $base-spacing*2

  .ingredient-image
    display: table-cell
    width: 50%
    background-position: center
    background-size: cover
    background-repeat: no-repeat