#{$all-button-inputs},
button,
.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  border: $button-border;
  background: none;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1;
  padding: 0.75em 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @include transition(color $base-duration $base-timing, background $base-duration $base-timing);

  @include breakpoint($medium-screen) {
    padding: 0.75em 2em;
  }

  &:hover,
  &:focus {
    background-color: $action-color;
    color: #fff;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.inverted {
    background-color: $action-color;
    color: #fff;
    border-color: $action-color;

    &:hover,
    &:focus {
      background: none;
      color: $action-color;
      border: $button-border;
      border-color: $action-color;
    }
  }

  &.cta {
    background-color: $secondary-action-color;
    border-color: $secondary-action-color;
    color: #FFF;

    &:hover,
    &:focus {
      background: none;
      color: $secondary-action-color;
    }
  }
}
