body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  word-wrap: break-word;
  @include hyphens(manual);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing / 2;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
}

h1 {
  font-size: $h1-font-size;
  margin: 0 0 $small-spacing / 4;
}

h2 {
  font-size: $h2-font-size;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  @include transition(color $base-duration $base-timing);

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $thick-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $small-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

// clip screen-reader-text (same as wordpress core)
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
