// Typography
$base-font-family: "futura-pt", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$small-font-size: 0.9em;
$base-font-size: 1em;
$h1-font-size: 2.167em;
$h2-font-size: 1.583em;

// Font-weights
$light-font-weight: 400;
$base-font-weight: $light-font-weight;
$bold-font-weight: 700;

// Line height
$base-line-height: 1.45;
$heading-line-height: 1.1;

// Other Sizes
$base-border-radius: 0;
$base-spacing: em(24px);
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #231F20;
$medium-gray: #999;
$light-gray: #BBBABA;
$turqouise: #9BD3D8;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: #000;
$secondary-action-color: $turqouise;

// Border
$base-border-color: $base-font-color;
$base-border: 1px solid lighten($base-border-color, 70%);
$button-border: $base-border;
$thick-border: 7px solid $base-font-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Transitions
$base-duration: 0.1s;
$base-timing: linear;

// Shadows
$base-shadow: 0 3px 20px rgba(0,0,0,0.16);
