// Typography

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-Medium.eot');
  src: url('../fonts/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium.ttf') format('truetype'), url('../fonts/Futura-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$base-font-family: "Futura", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: em(15px);
$h1-font-size: 2.167em;
$h2-font-size: 1.583em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: em(24px);
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #231F20;
$medium-gray: #999;
$light-gray: #BBBABA;
$turqouise: #9BD3D8;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: #000;

// Border
$base-border-color: $base-font-color;
$base-border: 2px solid $base-border-color;
$thick-border: 5px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Transitions
$base-duration: 0.1s;
$base-timing: linear;
