.home .site-main
  // remove margin so that the jumbotron touches nav
  margin-top: 0

.jumbotron
  +clearfix
  position: relative
  background-color: #D1E9F1
  margin-bottom: $base-spacing

  .jumbotron-product
    +span(full)
    padding: $base-spacing

    +breakpoint($medium-screen)
      +span(7)
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 0
      padding: $base-spacing*2

    +breakpoint($large-screen)
      +span(5)

  .jumbotron-image

    +breakpoint($medium-screen)
      +span(5 last)

    +breakpoint($large-screen)
      +span(7 last)

    img
      display: block

.storefront-featured-products
  +clearfix
  margin-bottom: $base-spacing

.about-section
  padding: $base-spacing * 3 0
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  .about-text
    max-width: 90%
    margin: auto
    text-align: center
    color: #fff

    p
      font-size: $h2-font-size*0.85
      margin-bottom: 0

      +breakpoint($medium-screen)
        font-size: $h2-font-size

    +breakpoint($medium-screen)
      max-width: 75%

    +breakpoint($large-screen)
      max-width: 55%
