.home .site-main
  // remove margin so that the jumbotron touches nav
  margin-top: 0

.jumbotron
  +clearfix
  position: relative
  background-color: #D1E9F1
  background-size: contain
  background-position: right bottom
  background-repeat: no-repeat
  margin-bottom: $base-spacing

  // Bottom padding to show the picture under jumbotron text
  +breakpoint(max-width $medium-screen)
    padding-bottom: em(200px)

  .jumbotron-product
    +span(full)
    padding: $base-spacing

    +breakpoint($medium-screen)
      +span(7)
      padding: $base-spacing*3 $base-spacing*1.5

    +breakpoint($large-screen)
      +span(5)
      padding: $base-spacing*5.5 $base-spacing*1.5

    h3
      @extend h1

    p
      font-size: $h2-font-size*0.85
      line-height: 1.35

      +breakpoint($medium-screen)
        font-size: $h2-font-size

.storefront-featured-products
  +clearfix
  margin-bottom: $base-spacing

.about-section
  padding: $base-spacing * 3 0
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  .about-text
    max-width: 90%
    margin: auto
    text-align: center
    color: #fff

    p,
    h3
      font-size: $h2-font-size*0.85
      line-height: 1.35
      text-transform: none

      +breakpoint($medium-screen)
        font-size: $h2-font-size

    p
      margin-bottom: 0

    h3
      font-weight: 500

    +breakpoint($medium-screen)
      max-width: 75%

    +breakpoint($large-screen)
      max-width: 55%
