.home .site-main
  // remove margin so that the jumbotron touches nav
  margin-top: 0

.jumbotron
  +clearfix
  position: relative
  background-color: $turqouise
  margin-bottom: $base-spacing

  .jumbotron-product
    +span(full)
    padding: $base-spacing

    img
      margin-bottom: $small-spacing

    +breakpoint($medium-screen)
      +span(6)
      padding: $base-spacing*2

    +breakpoint($large-screen)
      +span(5)

  .jumbotron-image
    display: none

    +breakpoint($medium-screen)
      display: block
      +span(full)

    img
      display: block

      +breakpoint($medium-screen)
        +span(6 last)
        position: absolute
        bottom: 0
        right: 0

      +breakpoint($large-screen)
        +span(7 last)

.storefront-featured-products
  +clearfix
  margin-bottom: $base-spacing

.about-section
  padding: $base-spacing * 3 0
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  .about-text
    max-width: 90%
    margin: auto
    text-align: center
    color: #fff

    p
      font-size: $h2-font-size*0.85
      margin-bottom: 0

      +breakpoint($medium-screen)
        font-size: $h2-font-size

    +breakpoint($medium-screen)
      max-width: 75%

    +breakpoint($large-screen)
      max-width: 55%
