.press-posts-container
  +span(full)

  .press-post
    border-bottom: $thick-border
    margin-bottom: $base-spacing

    +breakpoint($small-screen)
      +gallery(6)

    +breakpoint($medium-screen)
      +gallery(4)

    +breakpoint($large-screen)
      +gallery(3)

    img
      margin-bottom: $small-spacing

.press-image
  +span(full)

  +breakpoint($medium-screen)
    +span(4)

.press-article
  +span(full)

  +breakpoint($medium-screen)
    +span(8 last)
