.store-locator-container
  +span(full)
  margin-top: $base-spacing

  .store-locator-column
    +span(full)

    +breakpoint($small-screen)
      +gallery(6)

    +breakpoint($medium-screen)
      +gallery(4)
      border-top: $thick-border
      padding-top: $base-spacing

    +breakpoint($large-screen)
      +gallery(3)

    .store
      margin-bottom: $base-spacing

      h3
        margin-bottom: 0

      a
        color: $turqouise

        &:hover,
        &:focus
          color: darken($turqouise, 20%)
